<form method="post" class="note-form">
  <h2>New Note</h2>
  <div class="field note-field">
    <div
      class="note-editor"
      contenteditable
      autofocus
      role="textbox"
      aria-multiline="true"
    ><br /></div>
    <textarea name="note" class="note-input" style="display: none;"></textarea>
  </div>
  <div class="field color-field">
    <label>Color: </label>
    <input class="color-radio color-yellow" type="radio" name="color" value="yellow" autocomplete="off" checked />
    <input class="color-radio color-blue" type="radio" name="color" value="blue" autocomplete="off" />
    <input class="color-radio color-green" type="radio" name="color" value="green" autocomplete="off" />
    <input class="color-radio color-orange" type="radio" name="color" value="orange" autocomplete="off" />
    <input class="color-radio color-red" type="radio" name="color" value="red" autocomplete="off" />
  </div>
  <button type="submit" class="note-submit">Add Note</button>
</form>
<script type="module" src="/js/form.js"></script>
