<div class="post color-<%= post.color %>" style="font-size: <%= calculateFontSize(post.note) %>px">
  <% post.note.split("\n").map((line) => { %>
    <p class="line"><%= line %></p>
  <% }) %>
</div>
