@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lockup {
  display: flex;
  gap: 0.75rem;
  margin: 1rem;
}

.logo {
  width: 2.5rem;
  height: auto;
}

.wordmark {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 2.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
  width: 16rem;
  height: 16rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 4rem;
  font-family: "Delicious Handrawn", cursive;

  background-color: #ffeb3b;
}
