@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.lockup {
  text-decoration: none;
  color: inherit;

  display: flex;
  gap: 0.75rem;
}

.logo {
  width: 2.5rem;
  height: auto;
}

.wordmark {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 2.5rem;
}

.add {
  color: inherit;
  text-decoration: none;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #a7f432;

  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
  width: 16rem;
  height: 16rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 4rem;
  font-family: "Delicious Handrawn", cursive;

  background-color: #ffeb3b;
  box-shadow: 0 8px 4px -2px gray;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 20rem;
  margin: 0 auto;
  padding: 1rem;

  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px gray;

  font-family: system-ui, sans-serif;
}

form button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

form .field {
  display: flex;
  gap: 1rem;
}
