@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

:root {
  --color-yellow: #fee63b;
  --color-blue: #37d2d8;
  --color-green: #d2de40;
  --color-orange: #ffad64;
  --color-red: #ef65a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-blue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lockup {
  text-decoration: none;
  color: inherit;

  display: flex;
  gap: 0.75rem;
}

.logo {
  width: 2.5rem;
  height: auto;
}

.wordmark {
  font-family: "Delicious Handrawn", sans-serif;
  font-size: 2.5rem;
}

.add {
  color: inherit;
  text-decoration: none;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-yellow);

  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 2rem;
}

.empty-message {
  font-family: "Delicious Handrawn", cursive;
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8rem;
  max-width: 50vw;
  line-height: 1.5;
  text-align: center;
}

.post {
  margin: 1rem;
  padding: 1rem;
  width: 16rem;
  height: 16rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: "Delicious Handrawn", cursive;

  background-color: var(--color-yellow);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 10px 20px rgba(0, 0, 0, 0.06);
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: max-content;
  margin: 2rem auto;
  padding: 1rem 2rem;

  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 3px 6px rgba(0, 0, 0, 0.12),
    0 10px 20px rgba(0, 0, 0, 0.06);

  font-family: system-ui, sans-serif;
}

.note-form .note-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.note-form .note-field label {
  font-size: 2rem;
  font-weight: 700;
}

.note-form .note-field textarea {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.25rem;
  background-color: var(--color-yellow);

  min-width: 16rem;
  min-height: 16rem;
  border: 1px solid black;
  padding: 1rem;
}

.note-form button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}
